body {
	font-family: "Roboto", serif;
	font-weight: 500;
	font-style: normal;
	background-color: rgb(35 39 47);
	color: rgb(221, 221, 224);
}

.container {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 50px;
}


